body {
    background-color: #b9faf8;
    color: #6f2dbd;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 50px;
    padding: 20px;
}

#About {
    align-items: center;
}

h1 {
    font-size: large;
    font-weight: bolder;
    color: #b298dc;
}

h2 {
    font-size: medium;
    font-weight: bold;
    color: #b298dc;
}

#Experience {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }